html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f0f0f0;
}
.navbar-brand{
    font-weight: bolder;
    margin-right: 2rem;
}
.carousel-caption.d-none.d-md-block{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.carousel-item .carousel-caption h2{
    margin-top: 6%;
}
@media screen and (max-width: 768px){
    .carousel-item .carousel-caption h2{
        margin-top: 0%;
    }
}
/* footer style code starting here */
footer{
    margin-top: 1rem;
	background: #1e2021;
	color: white;
	font-size: 1rem;
    height: 18vh;
    text-align: center;
    padding-top: .8rem;

}
/* footer style code end here */

.contact-form{
    font-size: 1.3rem;
    width: 50vw;
    margin: 2rem auto;
}
.contact-form .form-group{
    margin: 3px 0 3px 0;
}
.contact-form .form-group button{
    display: block;
    margin: 0 auto;
    padding: .6rem 3rem;
}
@media screen and (max-width: 768px){
    .contact-form{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 576px){
    .contact-form{
        font-size: 1rem;
        margin: 1rem auto;
    }
}